.container-fluid {
    
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
 #logo {
    padding: 0;
    margin: 0;
   
    vertical-align: middle;
    border-style: none;
}
.nav-menu-container {
    margin-left:30%;
    display: inline-block;
}
    
.nav-menu {
    margin: 0;
    padding: 0;
    list-style: none;
    
    
}
.nav-menu  li {
    margin-left: 40px;
    float: left;
    position: relative;
    font-size:20px;
    
 }
 #btnFeature1{
 	background-color: #48e3fa;
    color:white;
    padding:10px 20px;
     border: none;
     color: #fff;

 }
 #btnFeature2{
 	background-color: #48e3fa;
    color:white;
    padding:10px 15px;
     border: none;
     color: #fff;
     
 }
.banner-area {
    -webkit-transform: skewY(-10deg);
}
 .container{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.row{
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    height: 576px;
    display:flex;

}
.banner-content{
    -webkit-transform: skewY(10deg);
    text-align: center;
}
h1 {
    color:black;
    font-size: 48px;
    font-weight: 300;
    line-height: 1em;
    margin: 20px 0px;
    margin-left:410px;
    margin-top:-143px;
}
.mx-auto {
    margin-left:410px;
}
 .pattern-right {
    z-index: -2;
    position: absolute;
    right: 0;
    transform: translateY(-50%);
    vertical-align: middle;
    border-style: none;
}
#btnFeature3{
    margin-left:45%;
    background-color: #48e3fa;
    padding:10px 50px;
    border: none;
    color: #fff;
    font-size: 20px;
    
    
 }
  
.section-gap {
    padding: 120px 0;
}
/*
.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
*/
.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    align-items: center !important;

    justify-content: flex-start !important;
}
/*
.img-fluid {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border-style: none;
    margin-top:10%;
}
*/
.no-padding{
    display:flex;
    margin-top:20%;
    

}
.no-padding h2{
    font-size: 55px;
    margin-top:10%
}
.pt-20 {
    max-width: 480px;
    z-index:2;
    padding-top: 20px;
    margin-top: 10px;
    font-size: 20px;
    font-weight:normal;

}
#btnFeature4{
    margin-left:50%;
    background-color: #48e3fa;
    padding:10px 40px;
    margin-top:-308px;
    border: none;
    color: #fff;
    font-size: 20px;
    
    
    
 }
 .pattern-right2{
    z-index: -2;
    position:absolute;
    margin-top:-10%;
    margin-left:-67px;
    justify-content: right;


 }
.better h3 {
    font-size: 55px;
    margin-top: 70%;
    /* margin-left: 7%; */
    margin-left: 50px;
}
.pt-21 {
    max-width: 480px;
    z-index:2;
    font-size: 20px;
    font-weight:normal;

}
#btnFeature5{

    background-color: #48e3fa;
    padding:15px 40px;
    border:none;
    color: #fff;
    font-size: 20px;
    margin-left:50px;
    
    
 }
#btnFeature6{

    background-color: #48e3fa;
    padding:15px 40px;
    border:none;
    color: #fff;
    font-size: 20px;
    margin-left:-212px;
    margin-top: 20px;
    
    
 }
.image {
    display: flex;
    margin-left: 50%;
    margin-top: -35%;
}
.ima {
    z-index: -2;
    float: left;
    margin-left: -13px;
    margin-top: 208px;
}
.clear{
    clear: both;
}

.image1 {
    float: left;
    width: 80%;
    display: flex;
    margin-left:20px;
}

.wrap-2 {
    padding-top: 100px;
    padding-bottom: 100px;
    float: left;
    width: 50%;
}
.track{
    color:black;
    margin-left: 20px;
}
.para1{color: #fff;
    margin-left: 20px;
}
.para2{margin-top: 40px;
    margin-left: 20px;
    color:black;
}
.para5{margin-top: 40px;
    margin-left: 20px;
    color:black;
}
.better1{
    float:right;
}
.better1 h1 {
    font-size: 55px;
    
}
.best{color: black;
    font-size: 48px;
    font-weight: 300;
    line-height: 1em;
    margin-top: 47%;
    margin-left: -47%;
}
.pt-22 {
    max-width: 480px;
    z-index:2;
    font-size: 20px;
    font-weight:normal;

}
.image2{
    width:39%;
}
.sec5 {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.left1{
    color: black;
    font-size: 48px;
    font-weight: 300;
    line-height: 1em;
    margin-top: 1%;
    margin-left: 6%;
}
.pt {
    z-index:2;
    font-size: 20px;
    font-weight:normal;
    width:57%;
}
#btnFeature7{
background-color: #48e3fa;
    padding: 15px 40px;
    border: none;
    color: #fff;
    font-size: 16px;
    margin-left: -18%;
    margin-top: 16px;
    
    
 }
 .imgg {
    height:83%;
    z-index: -2;
    float: left;
    margin-left: -13px;
    margin-top: -20%;
}
.contentt{
    display:flex;
}
.image3{
   width: 50%;
    margin-left: -18%;
}
.best1{
    color: black;
    font-size: 48px;
    font-weight: 300;
    line-height: 1em;
    margin-top: 47%;
    margin-left: 7%;
    width: 53%;

}
.pt-29 {
    max-width: 480px;
    z-index:2;
    font-size: 20px;
    font-weight:normal;
    margin-left:7%;

}

.wrap-3 {
    padding-top: 100px;
    padding-bottom: 100px;
    float: left;
    width: 50%;
}
.image9 {

    width: 80%;
    /* display: flex; */
    margin-left: 67px;
    
} 
.wraper-2{
    display:flex;
}
#btnFeature8{
background-color: #48e3fa;
    padding: 15px 40px;
    border: none;
    color: #fff;
    font-size: 16px;
    margin-left: 18%;
    margin-top: 16px;
    
    
 }
 .image10 {
    display: flex;
    margin-left: 60%;
    margin-top: -38%;
}
.box1 {
    font-size: 55px;
    margin-top: 28%;
    /* margin-left: 7%; */
    margin-left: -21%;
}
.pt-30{
    max-width: 480px;
    z-index:2;
    font-size: 20px;
    font-weight:normal;

}
#btnFeature9{

    background-color: #48e3fa;
    padding:15px 40px;
    border:none;
    color: #fff;
    font-size: 20px;
    margin-left:25%;
    
    
 }
 .best2{
    color: black;
    font-size: 48px;
    font-weight: 300;
    line-height: 1em;
    margin-top: 11%;
    

}
.pt-32 {
    /* max-width: 480px; */
    z-index: 2;
    font-size: 20px;
    font-weight: normal;
    margin-left: 19%;
    width: 60%;
}

#btnFeature10{

    background-color: #48e3fa;
    padding:15px 40px;
    border:none;
    color: #fff;
    font-size: 20px;
    margin-left:40%;
    
    
 }
 .boxx{
    float:right;
 }
 .footer-area{
    position: absolute;
    width:100%;
    height:100%;
    z-index:-1;
    margin-top:50%;

 }
 .col7 {
    width: 18%;
    margin-top: -44%;
    margin-left: -2%;
}
 .col9 {
    margin-left: 35%;
    margin-top: -14%;
}